[submodule "modules/shared/config/nvim"]
	path = modules/shared/config/nvim
	url = git@github.com:kimbank/nvim-config.git
[submodule "modules/shared/config/wezterm"]
	path = modules/shared/config/wezterm
	url = git@github.com:kimbank/wezterm-config.git
